@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap");

/*===========================================================================*/
/* Core variables
/*===========================================================================*/

:root {
    --font-title: "Faculty Glyphic", sans-serif;
    --font-headings: "Quintessential", cursive;
    --font-sans: "Noto Sans", sans-serif;
    --font-mono: "Noto Sans Mono", monospace;

    --color-link-foreground: #1c3351;
    --color-link-hover-foreground: #3b70d3;
}

.font-title {
    font-family: var(--font-title);
}
.font-headings {
    font-family: var(--font-headings);
}
.font-sans {
    font-family: var(--font-sans);
}
.font-mono {
    font-family: var(--font-mono);
}

/*===========================================================================*/
/* Normalize base styles
/*===========================================================================*/

body {
    margin: 0;
    padding: 0;

    font-family: var(--font-sans);
    font-size: 11pt;
}

button, input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: var(--color-link-foreground);
    text-decoration: none;

    &:hover {
        color: var(--color-link-hover-foreground);
    }
}

